<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger">
        <div></div>
    </div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a href="http://devknight.herokuapp.com/">Legalmediacom</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>